##################################################
# macOS
##################################################

.DS_Store
Thumbs.db

##################################################
# Xcode / iOS
##################################################

build/
DerivedData
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
ios/Pods/

##################################################
# Android / IntelliJ
##################################################

.gradle/
.idea/
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

##################################################
# Node.js (ALL LEVELS)
##################################################

node_modules/
**/node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

##################################################
# Lock files
# (Рекомендация: package-lock.json хранить!)
##################################################

yarn.lock
pnpm-lock.yaml

# package-lock.json  ← оставляем в репозитории

##################################################
# Environment variables (ALL LEVELS)
##################################################

.env
.env.*
**/.env
**/.env.*

##################################################
# Firebase / Private keys
##################################################
google-services.json

firebase-admin-key.json
serviceAccountKey.json
**/*serviceAccount*.json

##################################################
# Logs
##################################################

logs/
*.log

##################################################
# Fastlane
##################################################

ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots
ios/fastlane/test_output

##################################################
# Metro / React Native temp
##################################################

*.tmp
*.jsbundle

##################################################
# Ruby / CocoaPods
##################################################

vendor/bundle/

##################################################
# Build folders (ALL LEVELS)
##################################################

dist/
build/
**/dist/
**/build/

##################################################
# Coverage
##################################################

coverage/

##################################################
# PM2
##################################################

.pm2/

##################################################
# Temp folders
##################################################

tmp/
temp/

##################################################
# VS Code
##################################################

.vscode/
